@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@keyframes moveLeft {
  to {
    transform: translateX(-400vh);
  }
}

@keyframes float {
  0% {
    text-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    text-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    text-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

body {
  background-color: rgb(0, 0, 0);
  opacity: 0; /* Initial opacity set to 0 */
  overflow-x: hidden;
  transition: opacity 1.5s ease-in-out; /* Set the transition property for opacity */
  user-select: none;
}

#background{

  position: fixed;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(6,19,40,1) 32%, rgba(3,85,75,1) 100%);
  height: 100vh;
  width: 100vw;
  margin: 0 0 0 0;
  z-index: -100;
}

.menu{

  position: fixed;

}

#menuButton {
  position: fixed;
  margin: 20px;
  opacity: 60%;
  transition: transform 0.5s ease-in-out;
}

#menuButton:hover {
  opacity: 100%;
  cursor: pointer;
  scale: 1;
}

#menuButton:active {
  opacity: 60%;
  cursor: pointer;
  scale: 1;
}

#menuBox {
  z-index: 10000;
  position: fixed;

  background: black;

  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  transform: translateX(-20vw);
  transition: transform 0.5s ease-in-out; /* Include background in the transition */
} 



#menuBox.open {
  transform: translateX(0vw);
}

#menuButton.open{

  transform: translateX(20vw);

}

.fade-in {
  opacity: 1; /* When the 'fade-in' class is added, opacity becomes 1 */
}

.section {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* BELOW COMES ALL THE CSS THAT DIFFERS WHETHER YOURE ON MOBILE OR DESKTOP */

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
  /* LANDSCAPE CSS */
}

.topContainer {
  margin: 0 0 0 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainheader {
  font-family: "IBM Plex Mono", monospace;
  margin: 0 0 0 0;
  display: grid;
  animation: float 4s ease-in-out infinite;
}

#mainheader #name {
  font-size: 4vw;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  color: whitesmoke;

  transform: translateX(-500vh);

  transition: transform 1.5s ease-in-out;
}

#mainheader #name.slide-in {
  transform: translateX(0px);
}

#mainheader #jobTitle {
  font-size: 2vw;
  text-align: center;
  grid-column: 1;
  grid-row: 2;
  color: rgb(220, 236, 245);
  transform: translateX(500vh);
  transition: transform 1.5s ease-in-out;
}

#mainheader #jobTitle.slide-in {
  transform: translateX(0px);
}

#scrollDownPrompt {
  grid-column: 1;
  grid-row: 3;
  scale: 50%;
  margin: auto;
  margin-top: 20vh;

  animation: bounce 2s ease-in-out infinite;

  transition: opacity 1.5s ease-in-out, bottom 0.5s ease-in-out;
  opacity: 0;
}

#scrollDownPrompt.fade-in {
  opacity: 1;
}

.introductionDiv {

  z-index: 1;
  grid-template-columns: 33vw 33vw;
  display: grid;

  align-items: center;
  justify-content: center;
  column-gap: 40px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 8vw;
  margin: 100px 80px 0px 100px;
}

#introductionTitle {
  font-size: 3vw;
  grid-column: 1;
  grid-row: 1;
  color: whitesmoke;
  margin-bottom: 40px;
}

#introduction1 {
  grid-column: 1;
  
  grid-row: 2;
  font-size: large;
  color: whitesmoke;
  display: flex;
}
#introduction2 {
  grid-column: 2;
  grid-row: 3;
  font-size: large;
  color: whitesmoke;
  display: flex;
}
#introduction3 {
  grid-column: 1;
  grid-row: 4;
  font-size: large;
  color: whitesmoke;
  display: flex;
}

.skillDiv {

  z-index: 1;
  grid-template-columns: 33vw 33vw;
  display: grid;

  align-items: center;
  justify-content: center;
  column-gap: 40px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 8vw;
  margin: 100px 80px 0px 100px;
}

#skillTitle {
  font-size: 3vw;
  grid-column: 1;
  grid-row: 1;
  color: whitesmoke;
  margin-bottom: 40px;
  float: left;
}

#photoshopIcon{
  
  display: inline;
  grid-column: 1;
  grid-row: 2;

  transform: scale(5%);
  transform-origin: 0% 0%;

}

#inkscapeIcon{

  display: inline;
  grid-column: 2;
  grid-row: 2;

  transform: scale(13%);
  transform-origin: 0% 0%;

}

#blenderIcon{

  display: inline;
  grid-column: 1;
  grid-row: 2;

  transform: scale(5%);
  transform-origin: 0% 0%;

}


